# Terraform
**/.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
!*.tfvars.example
.terraform.lock.hcl

# Go
*/vendor/
*.exe
*.test
*.out

# Node
**/node_modules/
**/dist/
**/.next/

# Docker
.dockerignore

# OS
.DS_Store
